.header {
    position: relative;
    text-align: center;
  }
  .wrapper {
    display: flex;
    align-items: center;
    margin: auto 40px;
    height: 40vw;
  }

  .elementWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

  }

  .textWrapper {
    background: rgba(255,255,255, 0.9);
    padding: 4px 8px 4px 8px;
    border-radius: 8px;
    z-index: 1;
  }

  .descriptionWrapper {
    display: flex;
    align-items: center;
    margin: auto 40px;
    font-size: 2vw;
  }

  .header h2 {
    color: rgb(205, 241, 46);
    font-size: 6vw;
    z-index: 1;
  }
  .header h3 {
    color: rgb(205, 241, 46);
    font-size: 4vw;
    font-weight: 500;
    z-index: 1;
  }

  .header img {
    position: absolute;
    width: 60%;
    left: 30%;
  }

  .btn {
    display: absolute;
    background: rgb(205, 241, 46);
    color: white;
    font-size: 2vw;
    padding: 10px 16px;
    border-radius: 10px;
    margin-top: 20px;
    font-weight: 500;
    z-index: 1;
  }
