nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 40px;
    border-bottom: 1px solid rgb(157, 241, 46);
  }
  nav .links {
    display: inline-block;
    text-align: right;
  }
  nav a {
    display: inline-block;
    margin-left: 20px;
    font-weight: 400;
    padding-bottom: 8px;
    border-bottom: 3px solid transparent;
  }
  nav a:hover {
    border-color: rgb(157, 241, 46);
    cursor: pointer;
  }